<form name="bet_slip" method="post">
    <ul class="list-group">
        {% set finalOdd = 1 %}
        {% for bet in betSlipForm.vars.value.bets %}
            <li class="list-group-item">
                <h5 class="list-group-item-heading">{{ bet.game }}</h5>
                <span onclick="removeSessionVariable({{ bet.id }});" class="badge"><i class="fa fa-times"></i></span>
                <span class="badge bg-purple-gradient">{{ bet.odd }}</span>
                <p class="list-group-item-text"><b>{{ bet.betType }}</b></p>
            </li>
            {% set finalOdd = finalOdd * bet.odd %}
        {% endfor %}
    </ul>
    {% for bet in betSlipForm.bets %}
        {{ form_widget(bet) }}
    {% endfor %}
        {{ form_widget(betSlipForm.income, {'value' : 1}) }}
    <div class="row">
        <div class="col-xs-4">
            <span style="font-size: 16px; margin-bottom: 5px;" class="badge bg-green-gradient">{{ "bets.potentialGain"|trans }}: <span id="potentialGain">1</span></span>
        </div>
        <div class="col-xs-4 col-xs-offset-4">
            <span style="font-size: 14px; white-space: normal;" class="badge bg-aqua-gradient">{{ "bets.odd"|trans }}: <span id="finalOdd">{{ finalOdd|number_format(2) }}</span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            {{ form_row(betSlipForm.stake, {'value':1}) }}
        </div>
    </div>
</form>