.sport-icon {
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 6px;
    background-size: contain;
}

.sport-icon.football {
    background-image: url("../images/football.png");
}

.sport-icon.tennis {
    background-image: url("../images/tennis.png");
}

.sport-icon.handball {
    background-image: url("../images/handball.png");
}

.sport-icon.basketball {
    background-image: url("../images/basketball.png");
}

.sport-icon.hockey {
    background-image: url("../images/hockey.png");
}

.sport-icon.volleyball {
    background-image: url("../images/volleyball.png");
}