<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="keywords" content="InspiredBet, Inspired, Bet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{% block title %}IB | Inspired Bet{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> {# background color #4a148c #}

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('bundles/base/bootstrap-3.3.7/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('bundles/base/AdminLTE-2.3.11/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Make sure you apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="{{ asset('bundles/base/AdminLTE-2.3.11/css/skins/skin-purple.min.css') }}">
    <!-- Animations for notify -->
    <link rel="stylesheet" href="{{ asset('bundles/base/notify/animate.css') }}">
    <!-- Flags -->
    <link rel="stylesheet" href="{{ asset('bundles/base/flag-icon-css/css/flag-icon.min.css') }}">
    <!-- Fuel UX -->
    <link rel="stylesheet" href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css">
    <!-- Sports icons -->
    <link rel="stylesheet" href="{{ asset('bundles/base/sports-icons/css/sportsIcons.css') }}">
    <!-- Data Tables css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/base/DataTables/datatables.min.css') }}"/>

    <!-- base css file -->
    <link rel="stylesheet" href="{{ asset('bundles/base/css/base.css') }}">

    {% block stylesheets %}
    {% endblock %}

    <!-- jQuery 3.2.1 -->
    <script src="{{ asset('bundles/base/jquery-3.2.1/js/jquery-3.2.1.min.js') }}"></script>

    {% block topScripts %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="{{ path('base_base_index') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>IB</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>IB</b> | Inspired Bet</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dd-language" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span><i class="flag-icon flag-icon-{{ app.request.locale }}"></i>{{ app.request.locale|upper }}</span>
                        <i class="fa fa-angle-down hidden-xs"></i>
                    </a>
                    <ul class="dropdown-menu dm-language">
                        {% for locale in available_locales_array %}
                            <li>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: locale})) }}">
                                    <i class="flag-icon flag-icon-{{ locale }}"></i>
                                    <span>{{ locale|upper }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% block navMenu %}
            {% endblock %}
        </nav>

    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu tree" data-widget="tree">
                {% block sideMenu %}
                {% endblock %}
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block body %}
        {% endblock %}
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 <a href="{{ path('base_base_index') }}">Inspired Bet</a>.</strong> All rights reserved.
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Designed by <a href="https://www.linkedin.com/in/stefan-adrian-miulescu-333565104/">Adrian Miulescu</a>
        </div>
    </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('bundles/base/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('bundles/base/AdminLTE-2.3.11/js/app.min.js') }}"></script>
<!-- Bootstrap notify -->
<script src="{{ asset('bundles/base/notify/bootstrap-notify.min.js') }}"></script>
<!-- Fuel UX js -->
<script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
<!-- Data Tables js -->
<script type="text/javascript" src="{{ asset('bundles/base/DataTables/datatables.min.js') }}"></script>
<!-- FOS js routing -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<!-- Sg Datatables -->
<script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/base/javascript/base.js') }}"></script>

<script type="text/javascript">
    var locale = '{{ app.request.locale }}';
    {% set authError = constant('Symfony\\Component\\Security\\Core\\Security::AUTHENTICATION_ERROR') %}
    {% for msg in app.session.flashBag.get(authError) %}
        addNotification('{{ msg }}', 'danger');
    {% endfor %}
</script>

<script type="text/javascript" src="{{ asset('bundles/game/javascript/game.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/bet/javascript/bet.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/user/javascript/user.js') }}"></script>

{% block scripts %}
{% endblock %}
</body>
</html>