{% extends '@Base/Base/index.html.twig' %}

{% block sideMenu %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <section class="content-header" style="text-align: center;">
            <h1>
                {{ "user.page.betsTitle"|trans }}
            </h1>
        </section>
        <section class="content">
            <div class="col-xs-8 col-xs-offset-2">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "user.page.betsTitle"|trans }} - {{ betSlip.id }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{{ "games.game"|trans }}</th>
                                    <th>{{ "bets.bet"|trans }}</th>
                                    <th>{{ "bets.odd"|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bet in betSlip.bets %}
                                    <tr>
                                        <td>{{ bet.game }}</td>
                                        <td>{{ bet.betType.code }}</td>
                                        <td>{{ bet.odd }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}