{% extends '@Base/Base/index.html.twig' %}

{% block sideMenu %}
    <li class="header side-menu-header">{{ "user.page.credit"|trans }} : {{ app.user.userBudget.budget }}</li>
    <li>
        <a href="#" onclick="$('#addCreditModal').modal('toggle');">
            <i class="glyphicon glyphicon-plus"></i>
            <span>{{ "user.page.creditAdd"|trans }}</span>
        </a>
    </li>
    <li>
        <a href="#" onclick="$('#creditWithdrawalModal').modal('toggle');">
            <i class="glyphicon glyphicon-minus"></i>
            <span>{{ "user.page.creditWithdrawal"|trans }}</span>
        </a>
    </li>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <section class="content-header" style="text-align: center;">
            <h1>
                {{ "user.page.title"|trans }}
            </h1>
        </section>
        <section class="content">
            <div class="col-xs-8 col-xs-offset-2">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "user.page.betslips"|trans }}</h3>
                    </div>
                    <div class="box-body">
                        {{ sg_datatables_render(datatable) }}
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="modal modal-success fade" id="addCreditModal" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">{{ "user.page.creditAdd"|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="sumAdd" class="control-label">Suma:</label>
                                    <input type="number" name="sumAdd" class="form-control" id="sumAdd">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline" onclick="addCredit();">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="modal modal-danger fade" id="creditWithdrawalModal" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">{{ "user.page.creditWithdrawal"|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="sum" class="control-label">Suma:</label>
                                    <input type="number" name="sumWithdraw" class="form-control" id="sumWithdraw">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline" onclick="creditWithdrawal();">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}