{% extends 'base.html.twig' %}

{% block title %} IB | {{ "user.menu.register"|trans }} {% endblock %}

{% block body %}
    <div class="container-fluid">
        <section class="content-header" style="text-align: center;">
            <h1>{{ "user.register.name"|trans }}</h1>
        </section>
        <section class="content">
            <div class="box" style="min-width: 600px; max-width: 700px; margin: auto;">
                <div class="box-header with-border">
                    <h3 class="box-title"><b>{{ "user.menu.register"|trans }}</b></h3>
                </div>
                <div class="box-body">
                    <div class="fuelux">
                        <div class="wizard" data-initialize="wizard" id="registerWizard">
                            <div class="steps-container">
                                <ul class="steps">
                                    <li data-step="1" data-name="personalInformation" class="active">
                                        <span class="badge badge-info">1</span>{{ "user.register.personalInformation"|trans }}
                                        <span class="chevron"></span>
                                    </li>
                                    <li data-step="2" data-name="inspiredBetAccount">
                                        <span class="badge">2</span>{{ "user.register.inspiredBetAccount"|trans }}
                                        <span class="chevron"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-default btn-prev" disabled="disabled">
                                    <span class="glyphicon glyphicon-arrow-left"></span>{{ "user.menu.previous"|trans }}
                                </button>
                                <button type="button" class="btn btn-primary btn-next" data-last="{{ "user.menu.register"|trans }}">{{ "user.menu.next"|trans }}
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </div>
                            <form id="registerForm" method="post" action="{{ path('base_user_register') }}">
                                <div class="step-content">
                                    <div class="step-pane sample-pane alert active" data-step="1">
                                        <div class="col-xs-8">
                                            {{ form_row(registerForm.firstName) }}
                                            {{ form_row(registerForm.lastName) }}
                                            {{ form_row(registerForm.birthday) }}
                                            {{ form_row(registerForm.nationalIdentificationNumber) }}
                                            {{ form_row(registerForm.country) }}
                                            {{ form_row(registerForm.city) }}
                                            {{ form_row(registerForm.postalCode) }}
                                            {{ form_row(registerForm.address) }}
                                            {{ form_row(registerForm.email) }}
                                            {{ form_row(registerForm.phone) }}
                                        </div>
                                    </div>
                                    <div class="step-pane sample-pane alert" data-step="2">
                                        <div class="col-xs-8">
                                            {{ form_row(registerForm.username) }}
                                            {{ form_row(registerForm.budget) }}
                                            {{ form_row(registerForm.plainPassword) }}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready( function () {

        $('#registerWizard').wizard().on('finished.fu.wizard', function(e, data) {
            $("#registerForm").submit();
        });

    });
</script>
{% endblock %}