{% extends '@Base/Base/index.html.twig' %}

{% block sideMenu %}
    <li class="header side-menu-header">{{ competition.name }}</li>
    <li class="treeview active menu-open">
        <a href="#">
            <i style="margin-right: 6px;" class="flag-icon flag-icon-{{ competition.code|lower }}"></i>
            <span>{{ competition.name }}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="">
            {% for league in leagues %}
                {% if league.competitionId == competition.id %}
                    <li id="{{ league.id }}">
                        <a href="{{ path('game_game_leagueGamesListing', {'id':league.id}) }}">
                            <i class="fa fa-circle-o"></i> {{ league.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block body %}
    <div id="sportsListing"></div>
    <div class="container-fluid">
        <section class="content-header" style="text-align: center;">
            <h1>
                {{ "sports.football"|trans }} - {{ competition.name }}
                <small>{{ "homepage.subtitle"|trans }}</small>
            </h1>
        </section>
        <section class="content">
            <div class="col-xs-8">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "homepage.games"|trans }}</h3>
                    </div>
                    <div class="box-body">
                        {{ sg_datatables_render(datatable) }}
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-xs-4">
                <!-- Default box -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "bets.name"|trans }}</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                                <i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="betSlipBox"></div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button onclick="saveBetSlip();" type="button" class="btn btn-info">{{ "homepage.saveBetSlip"|trans }}</button>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('document').ready(function () {
            $('#{{ selectedLeague }}').addClass('active');
        });
        $(document).ajaxStop(function() {
            $('#sportBets').removeClass('active');
            $('#{{ selectedSport }}').addClass('active');
        });
    </script>
{% endblock %}