<ul class="nav nav-tabs top-tabs">
    <li id="sportBets" class="active"><a href="{{ path('base_base_index') }}">{{ "sports.sportBets"|trans }}</a></li>
    {% for sport in sportsCodes %}
        {% set sportName = "sports." ~ sport.code %}
        <li id="{{ sport.code }}">
            <a href="{{ path('game_game_sportGamesListing',  {'code':sport.code} ) }}">{{ sportName|trans }}</a>
        </li>
    {% endfor %}
</ul>