.top-tabs {  background-color: #555299;  }
.top-tabs > li > a {  color:white; background-color:transparent; text-decoration:none;  }

.sidebar-menu li.side-menu-header {
    text-align: center;
    font-size: 15px !important;
}

.navbar .dd-language span {
    margin-right: 5px;
    font-weight: 600;
}

.navbar .dd-language .flag-icon {
    margin-right: 7px;
}

.navbar .dropdown-menu.dm-language {
    min-width: 90px;
}

.navbar .dropdown-menu.dm-language li a span {
    font-weight: 600;
}

.navbar .dropdown-menu.dm-language .flag-icon {
    margin-right: 7px;
}