{% extends 'base.html.twig' %}

{% block navMenu %}
    {% if not app.user %}
        <form class="navbar-form navbar-right" method="post" action="{{ path('base_user_login') }}">
            <button type="button" style="margin-right: 15px;" class="btn btn-danger" onclick="location.href='{{ path('base_user_register') }}';">{{ 'user.register.title'|trans }}</button>
            <div class="form-group">
                <input type="text" id="login_username" name="login[username]" required="required" class="form-control input-sm" placeholder="{{ "user.login.user"|trans }}">
            </div>
            <div class="form-group">
                <input type="password" id="login_password" name="login[password]" required="required" class="form-control input-sm" placeholder="{{ "user.login.password"|trans }}">
            </div>
            <button type="submit" style="margin-right: 30px;" class="btn btn-primary">{{ "user.login.submit"|trans }}</button>
        </form>
    {% else %}
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('user_showDetails') }}">{{ app.user.username }}</a>
                </li>
            </ul>
            <button type="button" style="margin-right: 30px;" class="btn btn-danger navbar-btn" onclick="location.href='{{ path('base_user_logout') }}';">Log out</button>
        </div>
    {% endif %}
{% endblock %}

{% block sideMenu %}
    <li class="header side-menu-header">{{ "sports.sportBets"|trans }}</li>
    {% for sport in sportsCodes %}
        {% set sportName = "sports." ~ sport.code %}
        <li>
            <a href="{{ path('game_game_sportGamesListing',  {'code':sport.code} ) }}">
                <i class="sport-icon {{ sport.code }}"></i>
                <span>{{ sportName|trans }}</span>
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block body %}
    <div id="sportsListing"></div>
    <div class="container-fluid">
        <section class="content-header" style="text-align: center;">
            <h1>
                {{ "homepage.title"|trans }}
                <small>{{ "homepage.subtitle"|trans }}</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-8">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ "homepage.carouselTitle"|trans }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="https://s-media-cache-ak0.pinimg.com/originals/c2/ca/53/c2ca53fd769f23803815e35644d262a9.jpg" alt="First slide">

                                        <div class="carousel-caption">
                                            1
                                        </div>
                                    </div>
                                    <div class="item active">
                                        <img src="https://www.bigonsports.com/wp-content/uploads/2016/02/futures-sports-betting.jpg" alt="Second slide">

                                        <div class="carousel-caption">
                                            2
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="https://i.ytimg.com/vi/RCmyR80RQjY/maxresdefault.jpg" alt="Third slide">

                                        <div class="carousel-caption">
                                            3
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="fa fa-angle-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-xs-4">
                    <!-- Default box -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ "bets.name"|trans }}</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                                    <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="betSlipBox"></div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button onclick="saveBetSlip();" type="button" class="btn btn-info">{{ "homepage.saveBetSlip"|trans }}</button>
                        </div>
                        <!-- /.box-footer-->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <!-- Default box -->
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ "homepage.aboutUs"|trans }}</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                                    <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                                Aplicația <b>Inspired Bet</b> - Platformă online pentru pariuri sportive - își propune să
                                îmbunătățească interesul pe care oamenii îl acordă sportului, prin plasarea de diferite tipuri de
                                pariuri pe anumite evenimente sportive.<br><br>
                                Aceasta dispune de o interfață
                                modernă, scalabilă, care îmbină într-un mod plăcut lista cu oferte de evenimente pe care se
                                poate paria împreună cu biletul de pariuri, filtrele pentru evenimente sportive, dar și detaliile
                                utilizatorului logat în sesiunea curentă.
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready( function () {
            navTabsSportsListing();
            betSlip();
        });
    </script>
{% endblock %}